@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html,body {
  margin:0;
  padding:0;
}

body {
    font: 14px 'Oxygen', sans-serif;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-image: url('1280px-React-icon.svg.png');
    background-position: center;
    background-size: cover;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 5rem;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }

  .square:hover {
    cursor: pointer;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-info div {
    margin: 2rem;
    font-size: 2rem;
  }

  .highlight {
    background-color: lightgrey;
  }

  button, .button {
    margin-bottom: 0;
}

.button, 
button, 
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: rgba(255,255,255,0.8)
}